.greeting {
  font-weight: bold;
  font-size: 55px;

  //font-family: 'Shantell Sans', cursive;

  //font-family: 'Meie Script', cursive;

  //font-family: 'Indie Flower', cursive;

  //font-family: 'La Belle Aurore', cursive;

  //font-family: "Schwabacher", sans-serif;

  //font-family: 'Costpretty', sans-serif;

  //font-family: 'Raw almond', sans-serif;

  //font-family: 'Amrelia', sans-serif;

  //font-family: 'OffenbacherSchwabacherCAT', sans-serif;

  font-family: 'Raslani Hip Hop', sans-serif;



  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(255, 72, 68);
  text-shadow: 2px 2px 3px rgba(255, 72, 68, 0.6);
}
