@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shantell+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=La+Belle+Aurore&family=Shantell+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');


@import url('https://fonts.cdnfonts.com/css/schwabacher');

@import url('https://fonts.cdnfonts.com/css/costpretty');

@import url('https://fonts.cdnfonts.com/css/raw-almond');

@import url('https://fonts.cdnfonts.com/css/amrelia');

@import url('https://fonts.cdnfonts.com/css/offenbacherschwabachercat');


@import url('https://fonts.cdnfonts.com/css/raslani-hip-hop');